@font-face {
	font-family:'Roboto Regular'; 
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'Roboto Light'; 
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'Roboto Medium'; 
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'Roboto LightItalic'; 
	src: url('../fonts/Roboto-LightItalic.eot');
	src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




@media only screen and (min-width:320px) and (max-width: 767px){


	body{margin: 0px;}

	#conteudo{
		width: 320px;
		border: 1px solid #eee;
		margin-left: auto;
		margin-right: auto;
	}

	header {
		width: 320px;
		height: 387.2px;
		margin-left: auto;
		margin-right: auto;
	}

	.header-menu { 
		width: 320px;
		height: 70px;
	}

	.header-menu p {
    	text-align: center;
    	font-size: 10px;
    	color: #aaa;
    	width: 320px;
    	height: 11px;
    	margin-left: auto;
    	margin-right: auto;
    }

    .header-menu h1 {
    	margin-top: 0px;
    	margin-left: auto;
    	margin-right: auto;
    	width: 119px;
    	height: 24px;
    	background: transparent url("../assets-phone/imported-layers.png") no-repeat scroll 0% 0%;
    }

    .btn-menu {
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 0px;
    	width: 320px;
    	height: 317.2px;
    	background: transparent url("../assets-phone/header-320.png") no-repeat scroll 0% 0%;
    }

    .btn-menu p {
    	font-size: 14px;
    	width: 300px;
    	height: 111.1px;
    	text-align: center;
    	margin-right: auto;
    	margin-left: auto;
    	color:#fff;
    	padding-top: 28px;
    	font-family: "Roboto Medium";
	}


	.btn-menu h1 {
    	font-size: 14px;
    	width: 150px;
    	height: 16px;
    	text-align: left;
    	margin-left: 11px;
    	color:#fff;
    	font-family: "Roboto Light";
    	margin-top: 80px;
    	font-weight: normal;
	}


	#menu {
    	display: none;
	}

 	#logo{
 		width: 320px;
 		height: 70px;
 		float: none;
 	}


	.bt-email a{
		display:inline-block;
		margin:0px 9px 0px 0px;
		font-size:18px;
		font-family: "Roboto Regular";
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#cd2f27;
		position: relative;
		float: right;
		/*padding: 8px 20px 7px 54px;*/
		font-weight: bold;
		width: 145px;
		height: 37.6px;
		line-height: 40px;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-moz-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-ms-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-o-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
			
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.textemail{
		padding-left: 26px;
	}

	.textface{
		padding-left: 32px;
	}

	.bt-email img{
		position:absolute;
		left:26px;
		top:1px;
	}

	.bt-email a:hover,
	.bt-email a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	.bt-facebook a{
		display:inline-block;
		margin:0px 0px 0px 10px;
		font-size:18px;
		font-family: "Roboto Regular";
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#3b5998;
		position: relative;
		float: left;
		font-weight: bold;
		/*padding: 8px 20px 7px 54px;*/
		width: 145px;
		height: 37.6px;
		line-height: 40px;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-moz-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-ms-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-o-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
			
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-facebook img{
		position:absolute;
		left: 11px;
		top: 1px;
	}

	.bt-facebook a:hover,
	.bt-facebook a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	#como-funciona{
		width: 320px;
		height: 1080px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 43px;
	}

	#cf-titulo h1{
		width: 300px;
		height: 42px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		font-family: "Roboto Light";
	   	color: #00598c;
	   	font-size: 18px;
	   	text-align: center;
	   	margin-top: 26px;
	   	font-weight: normal;
	}

	.coluna-a{
		width: 270px;
		height: 337px;
		margin-right: auto;
		position: relative;
		border: 1px #eeeeee solid;
		margin-left: auto;
		margin-bottom: 20px;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-b{
		width: 270px;
		height: 337px;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		border: 1px #eeeeee solid;
		margin-bottom: 20px;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-c{
		width: 270px;
		height: 337px;
		margin-right: auto;
		position: relative;
		border: 1px #eeeeee solid;
		margin-left: auto;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-a h2, .coluna-b h2, .coluna-c h2 { 
		font-family: "Roboto Regular";
		color: #00598c;
		font-size: 18px;
		text-align: center;
		font-weight: bold;
	}

	.coluna-a p, .coluna-b p, .coluna-c p {
		padding: 0px 19px 15px 21px;
	}

	.foto-coluna img {
		width: 210px;
		height: 134px;
		margin-left: -10px;
		margin-right: auto;
	}

	.projetos{
		width: 320px;
		height: 1288px;
		margin-left: auto;
		margin-right: auto;
		background: #efefef;
		margin-bottom: 45px;
	}

	#p-titulo{
		width: 320px;
		height: 42px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		font-family: "Roboto Light";
	   	color: #666;
	   	font-size: 14px;
	   	text-align: center;
	   	line-height: 0px;
	}

	.foto-projetos {
		margin:; 
	}

	.foto-projetos img{
		width: 274px;
		height: 274px;
		margin-left: -17px;
		margin-right: auto;
		margin-bottom: 21px; 
	}

	#loremipsum{
		width: 320px;
		margin-left: auto;
		margin-right: auto;
	}

	.lorem-ipsum{
		width: 320px;
		margin-right: auto;
		margin-left: auto;
	}

	#li-esquerda{
		width: 320px;
		position: relative;
		float: left;
		display: table;
		margin-bottom: 17px;
	}

	#li-direita{
		width: 320px;
		position: relative;
		float: left;
		margin-left: 0px;
	}

	.foto-coluna1{
		margin-left: 10px;
		margin-bottom: 107px;
		float: left;
		margin-right: 12px;
	}

	.foto-coluna1 img{
		width: 60px;
		height: 94px;
	}

	#li-esquerda h1{
		font: 18px "Roboto Light";
		color: #666;
		text-align: left;
	}

	#li-esquerda p{
		font: 14px "Roboto Light";
		color: #666;
		text-align: left;
	}

	#li-esquerda h2{
		font: 14px "Roboto Regular";
		color: #3388aa;
		text-align: left;
	}

	#li-direita h1{
		font: 18px "Roboto Light";
		color: #666;
		text-align: left;
		margin: 0px;
	}

	#li-direita p{
		font: 14px "Roboto Light";
		color: #666;
		text-align: left;
	}

	#li-direita h2{
		font: 14px "Roboto Regular";
		color: #38A;
		text-align: left;
	}

	.li-direita-texto{
		width: 220px;
		float: right;
		margin-right: 18px;
		margin-bottom: 36px;
	}

	.foto-coluna2{
		margin-left: 10px;
		float: left;
		margin-bottom: 0px;
		margin-right: 0px;
		margin-top: 0px;
	}

	.foto-coluna2 img{
		width: 60px;
		height: 51.4px;
	}

	.interesse{
		clear: both;
		width: 320px;
		height: 441px;
		margin-left: auto;
		margin-right: auto;
		background: #004466;
	}

	#seta{
		width: 31px;
		margin-left:auto;
		margin-right: auto;
	}

	#seta img{
		margin-top: -1px;
	}

	.formulario{
		
	}

	#nomeid, #emailid, #empresaid{
		width: 296px;
		height: 40px;
		background: #fff;
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: -5px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		border: 1px solid #ccc;
		font-family: "Roboto LightItalic";
	}

	.formulario label{
    	font-family: "Roboto Regular";
    	font-size:14px;
    	font-weight: 600;
    	color: #fff;
    	margin-left: 12px;
	}

	.interesse h1{
		font: 18px "Roboto Light";
		color: #fff;
		text-align: center;
		padding-top: 10px;
		font-weight: 600;
	}

	.interesse h2{
		font: 14px "Roboto Light";
		color: #fff;
		text-align: center;
		font-weight: 600;
	}

	.bt-interesse{
		width: 300px;
		height: 40px;
		margin-top: 21px;
		margin-left: auto;
		margin-right: auto;
		display: none;
	}

	.bt-interesse a{
		display:inline-block;
		width: 300px;
		height: 40px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#cd2f27;
		position: relative;
		line-height: 42px;
		font-weight: bold;
		font-family: "Roboto Regular";
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-moz-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-ms-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-o-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-interesse i{
		position:absolute;
		left:15px;
		top:15px;
	}

	.bt-interesse a:hover,
	.bt-interesse a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	#botao-enviar{
		display:inline-block;
		width: 300px;
		height: 40px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#cd2f27;
		position: relative;
		line-height: 42px;
		font-weight: bold;
		font-family: "Roboto Regular";
		border: 0px;
		margin-left: 10px;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-moz-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-ms-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-o-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	

	}

	.footer{
		width: 320px;
		margin-left: auto;
		margin-right: auto;
		background: #fff;
		padding-bottom: 14.5px;
	}

	#footer-logo{
		width: 320px;
		height: 28px;
		position: relative;
		left: 0px;
		margin-top: 85px;
	}

	#footer-menu{
		width: 280px;
		height: 28px;
		margin-left: 20px;
		position: relative;
		float: left;
		margin-top: 21.5px;
	}

	#menu-rodape { 
		width: 280px; 
		font-weight: bold;
		font-family: "Roboto Regular";
		font-size: 12px; 
	}

	#menu-rodape ul { 
		padding:0px; 
		margin:0px; 
		list-style:none; 
	}

	#menu-rodape ul li { 
		display: inline; 
	}

	#menu-rodape ul li a { 
		padding: 0px 6px 0px 0px; 
		display: inline-block; 
		color: #666; 
		text-decoration: none; 
	}

	#copyright{
		margin: 0px;
		padding: 0px;
	}

	#copyright p {
		margin: 0px;
		padding: 0px;
		font-family: "Roboto Regular";
		font-size: 12px; 
		color: #666;
	}

	#footer-midias{
		width: 320px;
		height: 40px;
		position: relative;
		right: 0px;
		margin-top: 15px;
	}

	.foto-footer-logo {
		margin: 0px 0px 0px 107.5px; 
	}

	.foto-footer-logo img{
		margin: 0px 20px 0px 0px; 
	}

	.foto-footer-midias {
		margin: 0px 0px 0px 65px; 
	}

	.foto-footer-midias img{
		margin: 0px 10px 0px 0px; 
	}

      
}




@media only screen and (min-width:768px) and (max-width: 1023px){


	body{ 
		margin: 0px; 
		font-family: 'Roboto Regular'; 
		font-size: 12px;
		color: #666; 
	}

	#conteudo{
		width: 768px;
		border: 1px solid #eee;
		margin-left: auto;
		margin-right: auto;
	}

	header{ 
		width: 768px; 
		height: 407.2px; 
		margin-left: auto; 
		margin-right: auto; 
		background: url(../assets-phone/header.png) center bottom; 
	}

	.header-menu { 
		width: 768px;
		height: 82px;
	}

	.header-menu p { 
		font-family: "Roboto Regular"; 
		text-align: left; 
		margin-top: 6px; 
		margin-left: 20px; 
		color: #fff; 
		font-size: 10px; 
	}

	.header-menu h1 { 
		margin-top: 8px; 
		margin-left: 20px; 
		width: 147px; 
		height: 43px; 
		background: url(../assets-monitor/logo-chamada.png); 
	}

	#logo { 
		width: 29.5%; 
		float: left; 
	}

	#menu { 
		width: 70%; 
		line-height: 20px; 
		float: right; 
		margin-top: 38px; 
	}

	#menu ul { 
		padding:0px; 
		margin:0px; 
		list-style:none; 
	}

	#menu ul li { 
		display: inline; 
	}

	#menu ul li a { 
		padding: 2px 3.8px; 
		display: inline-block; 
		color: #fff; 
		text-decoration: none; 
	}

	.btn-menu { 
		margin-left: 20px; 
		margin-top: 67px; 
		color: #fff; 
		width: 50%; 
	}

	.btn-menu p { 
		font-size: 24px; 
		width: 410px; 
		height: 111.1px; 
		font-family: "Roboto Light";
	}

	.btn-menu h1 { 
		font-family: "Roboto Light"; 
		font-size: 18px; 
		font-weight: normal; 
	}

	.bt-email a{
		display:inline-block;
		margin:0px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#cd2f27;
		position: relative;
		float: left;
		padding: 8px 20px 7px 54px;
		font-weight: bold;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-moz-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-ms-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-o-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
			
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-email img{
		position:absolute;
		left:13px;
		top:1px;
	}

	.bt-email a:hover,
	.bt-email a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	.bt-facebook a{
		display:inline-block;
		margin:0px 0px 0px 10px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#3b5998;
		position: relative;
		float: left;
		font-weight: bold;
		padding: 8px 20px 7px 54px;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-moz-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-ms-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-o-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
			
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-facebook img{
		position:absolute;
		left: 13px;
		top: 1px;
	}

	.bt-facebook a:hover,
	.bt-facebook a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	#como-funciona{
		width: 768px;
		height: 450px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 43px;
	}

	#cf-titulo{
		width: 485px;
		height: 42px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		font-family: "Roboto Light";
	   	color: #00598c;
	   	font-size: 18px;
	   	text-align: center;
	   	font-weight: normal;
	}

	.coluna-a{
		width: 240px;
		height: 383px;
		float: left;
		margin-right: 10px;
		position: relative;
		border: 1px #eeeeee solid;
		margin-left: 12px;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-b{
		width: 240px;
		height: 383px;
		float: left;
		margin-right: 10px;
		position: relative;
		border: 1px #eeeeee solid;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-c{
		width: 240px;
		height: 383px;
		float: left;
		margin-right: 10px;
		position: relative;
		border: 1px #eeeeee solid;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-a h2, .coluna-b h2, .coluna-c h2 { 
		font-family: "Roboto Regular";
		color: #00598c;
		font-size: 18px;
		text-align: center;
		font-weight: normal;
	}

	.coluna-a p, .coluna-b p, .coluna-c p {
		padding: 0px 19px 15px 21px;
	}

	.foto-coluna img {
		width: 200px;
		height: 128px;
		margin-left: -20px;
		margin-right: auto;
	}

	.projetos{
		width: 768px;
		height: 272px;
		margin-left: auto;
		margin-right: auto;
		background: #efefef;
		margin-bottom: 115px;
	}

	#p-titulo{
		width: 485px;
		height: 42px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		font-family: "Roboto Light";
	   	color: #666;
	   	font-size: 18px;
	   	text-align: center;
	   	line-height: 10px;
	}

	.foto-projetos {
		margin: 0px 0px 0px -13px; 
	}

	.foto-projetos img{
		margin: 20.4px 17px 0px 0px; 
	}

	.foto-projetos img {
		width: 160px;
		height: 160px;
		margin-left: 29px;
		margin-right: auto;
	}

	#loremipsum{
		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}

	.lorem-ipsum{
		width: 645px;
		margin-right: auto;
		margin-left: auto;
	}

	#li-esquerda{
		width: 312px;
		position: relative;
		float: left;
		display: table;
		margin-bottom: 83px;
	}

	#li-direita{
		width: 312px;
		position: relative;
		float: right;
		margin-left: 21px;
	}

	.foto-coluna1{
		margin-left: 78px;
		margin-bottom: 107px;
	}

	#li-esquerda h1{
		font: 24px "Roboto Light";
		color: #666;
		text-align: right;
	}

	#li-esquerda p{
		font: 18px "Roboto Light";
		color: #666;
		text-align: right;
		width: 312px;
	}

	#li-esquerda h2{
		font: 18px "Roboto Regular";
		color: #3388aa;
		text-align: right;
	}

	#li-direita h1{
		font: 24px "Roboto Light";
		color: #666;
		text-align: left;
	}

	#li-direita p{
		font: 18px "Roboto Light";
		color: #666;
		text-align: left;
		width: 312px;
	}

	#li-direita h2{
		font: 18px "Roboto Regular";
		color: #3388aa;
		text-align: left;
	}

	.foto-coluna2{
		margin-top: 107.1px;
		margin-left: 97px;
	}

	.interesse{
		clear: both;
		width: 768px;
		height: 270px;
		margin-left: auto;
		margin-right: auto;
		background: #004466;
	}

	#seta{
		width: 31px;
		margin-left:auto;
		margin-right: auto;
	}

	#seta img{
		margin-top: -1px;
	}

	.formulario{
		display: none;
	}

	.interesse h1{
		font: 24px "Roboto Light";
		color: #fff;
		text-align: center;
		padding-top: 20px;
	}

	.interesse h2{
		font: 18px "Roboto Light";
		color: #fff;
		text-align: center;
	}

	.bt-interesse{
		width: 300px;
		height: 40px;
		margin-top: 21px;
		margin-left: auto;
		margin-right: auto;
	}

	.bt-interesse a{
		display:inline-block;
		width: 300px;
		height: 40px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#cd2f27;
		position: relative;
		line-height: 40px;
		font-weight: bold;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-moz-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-ms-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-o-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-interesse i{
		position:absolute;
		left:15px;
		top:15px;
	}

	.bt-interesse a:hover,
	.bt-interesse a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	.footer{
		width: 768px;
		height: 170px;
		margin-left: auto;
		margin-right: auto;
		background: #fff;
		border: 1px solid #eee;
	}

	#footer-logo{
		width: 540px;
		height: 28px;
		position: relative;
		left: 0px;
		float: left;
		margin-top: 21.5px;
	}

	#footer-menu{
		width: 560px;
		height: 28px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		float: left;
		margin-top: 21.5px;
		margin-left: 20px;
	}

	#menu-rodape { 
		width: 560px; 
		font-weight: bold; 
	}

	#menu-rodape ul { 
		padding:0px; 
		margin:0px; 
		list-style:none; 
	}

	#menu-rodape ul li { 
		display: inline; 
	}

	#menu-rodape ul li a { 
		padding: 0px 6px 0px 0px; 
		display: inline-block; 
		color: #666; 
		text-decoration: none; 
	}

	#copyright{
		margin: 0px;
		padding: 0px;
	}

	#copyright p {
		margin: 0px;
		padding: 0px;
	}

	#footer-midias{
		width: 768px;
		height: 40px;
		position: relative;
		right: 0px;
		float: left;
		margin-top: 15px;
	}

	.foto-footer-logo {
		margin: 0px 0px 0px 324.5px; 
	}

	.foto-footer-logo img{
		margin: 0px 20px 0px 0px; 
	}

	.foto-footer-midias {
		margin: 0px 0px 0px 289px; 
	}

	.foto-footer-midias img{
		margin: 0px 10px 0px 0px; 
	}

}




@media only screen and (min-width:1024px) and (max-width: 1279px){

	body{ 
		margin: 0px; 
		font-family: 'Roboto Regular'; 
		font-size: 12px;
		color: #666; 
	}

	#conteudo{
		width: 1024px;
		border: 1px solid #eee;
		margin-left: auto;
		margin-right: auto;
	}

	header{ 
		width: 1024px; 
		height: 407.2px; 
		margin-left: auto; 
		margin-right: auto; 
		background: url(../assets-phone/header.png) center bottom; 
	}

	.header-menu { 
		width: 1024px;
		height: 82px;
	}

	.header-menu p { 
		font-family: "Roboto Regular"; 
		text-align: left; 
		margin-top: 6px; 
		margin-left: 20px; 
		color: #fff; 
		font-size: 10px; 
	}

	.header-menu h1 { 
		margin-top: 8px; 
		margin-left: 20px; 
		width: 147px; 
		height: 43px; 
		background: url(../assets-monitor/logo-chamada.png); 
	}

	#logo { 
		width: 29.5%; 
		float: left; 
	}

	#menu { 
		width: 57%; 
		line-height: 20px; 
		float: right; 
		margin-top: 38px; 
	}

	#menu ul { 
		padding:0px; 
		margin:0px; 
		list-style:none; 
	}

	#menu ul li { 
		display: inline; 
	}

	#menu ul li a { 
		padding: 2px 8.5px; 
		display: inline-block; 
		color: #fff; 
		text-decoration: none; 
	}

	.btn-menu { 
		margin-left: 20px; 
		margin-top: 67px; 
		color: #fff; 
		width: 50%; 
	}

	.btn-menu p { 
		font-size: 24px; 
		width: 410px; 
		height: 111.1px; 
		font-family: "Roboto Light";
	}

	.btn-menu h1 { 
		font-family: "Roboto Light"; 
		font-size: 18px; 
		font-weight: normal; 
	}

	.bt-email a{
		display:inline-block;
		margin:0px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#cd2f27;
		position: relative;
		float: left;
		padding: 8px 20px 7px 54px;
		font-weight: bold;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-moz-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-ms-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-o-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
			
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-email img{
		position:absolute;
		left:13px;
		top:1px;
	}

	.bt-email a:hover,
	.bt-email a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	.bt-facebook a{
		display:inline-block;
		margin:0px 0px 0px 10px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#3b5998;
		position: relative;
		float: left;
		font-weight: bold;
		padding: 8px 20px 7px 54px;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-moz-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-ms-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-o-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
			
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-facebook img{
		position:absolute;
		left: 13px;
		top: 1px;
	}

	.bt-facebook a:hover,
	.bt-facebook a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	#como-funciona{
		width: 1024px;
		height: 450px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 43px;
	}

	#cf-titulo{
		width: 485px;
		height: 42px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		font-family: "Roboto Light";
	   	color: #00598c;
	   	font-size: 18px;
	   	text-align: center;
	   	font-weight: normal;
	}

	.coluna-a{
		width: 310px;
		height: 364px;
		float: left;
		margin-right: 25px;
		position: relative;
		border: 1px #eeeeee solid;
		margin-left: 12px;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-b{
		width: 310px;
		height: 364px;
		float: left;
		margin-right: 25px;
		position: relative;
		border: 1px #eeeeee solid;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-c{
		width: 310px;
		height: 364px;
		float: left;
		margin-right: 25px;
		position: relative;
		border: 1px #eeeeee solid;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-a h2, .coluna-b h2, .coluna-c h2 { 
		font-family: "Roboto Regular";
		color: #00598c;
		font-size: 18px;
		text-align: center;
		font-weight: normal;
	}

	.coluna-a p, .coluna-b p, .coluna-c p {
		padding: 0px 19px 15px 21px;
	}

	.foto-coluna img {
		width: 220px;
		height: 140px;
		margin-left: 5px;
		margin-right: auto;
	}

	.projetos{
		width: 1024px;
		height: 357px;
		margin-left: auto;
		margin-right: auto;
		background: #efefef;
		margin-bottom: 115px;
	}

	#p-titulo{
		width: 485px;
		height: 42px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		font-family: "Roboto Light";
	   	color: #666;
	   	font-size: 18px;
	   	text-align: center;
	   	line-height: 10px;
	}

	.foto-projetos {
		margin: 0px 0px 0px -13px; 
	}

	.foto-projetos img{
		margin: 20.4px 17px 0px 0px; 
	}

	.foto-projetos img {
		width: 230px;
		height: 230px;
		margin-left: 24px;
		margin-right: auto;
	}

	#loremipsum{
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}

	.lorem-ipsum{
		width: 645px;
		margin-right: auto;
		margin-left: auto;
	}

	#li-esquerda{
		width: 312px;
		position: relative;
		float: left;
		display: table;
		margin-bottom: 83px;
	}

	#li-direita{
		width: 312px;
		position: relative;
		float: right;
		margin-left: 21px;
	}

	.foto-coluna1{
		margin-left: 78px;
		margin-bottom: 107px;
	}

	#li-esquerda h1{
		font: 24px "Roboto Light";
		color: #666;
		text-align: right;
	}

	#li-esquerda p{
		font: 18px "Roboto Light";
		color: #666;
		text-align: right;
		width: 312px;
	}

	#li-esquerda h2{
		font: 18px "Roboto Regular";
		color: #3388aa;
		text-align: right;
	}

	#li-direita h1{
		font: 24px "Roboto Light";
		color: #666;
		text-align: left;
	}

	#li-direita p{
		font: 18px "Roboto Light";
		color: #666;
		text-align: left;
		width: 312px;
	}

	#li-direita h2{
		font: 18px "Roboto Regular";
		color: #3388aa;
		text-align: left;
	}

	.foto-coluna2{
		margin-top: 107.1px;
		margin-left: 97px;
	}

	.interesse{
		clear: both;
		width: 1024px;
		height: 270px;
		margin-left: auto;
		margin-right: auto;
		background: #004466;
	}

	#seta{
		width: 31px;
		margin-left:auto;
		margin-right: auto;
	}

	#seta img{
		margin-top: -1px;
	}

	.formulario{
		display: none;
	}

	.interesse h1{
		font: 24px "Roboto Light";
		color: #fff;
		text-align: center;
		padding-top: 20px;
	}

	.interesse h2{
		font: 18px "Roboto Light";
		color: #fff;
		text-align: center;
	}

	.bt-interesse{
		width: 300px;
		height: 40px;
		margin-top: 21px;
		margin-left: auto;
		margin-right: auto;
	}

	.bt-interesse a{
		display:inline-block;
		width: 300px;
		height: 40px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#cd2f27;
		position: relative;
		line-height: 40px;
		font-weight: bold;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-moz-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-ms-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-o-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-interesse i{
		position:absolute;
		left:15px;
		top:15px;
	}

	.bt-interesse a:hover,
	.bt-interesse a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	.footer{
		width: 1024px;
		height: 70px;
		margin-left: auto;
		margin-right: auto;
		background: #fff;
		border: 1px solid #eee;
	}

	#footer-logo{
		width: 20%;
		height: 28px;
		position: relative;
		left: 0px;
		float: left;
		margin-top: 21.5px;
	}

	#footer-menu{
		width: 50%;
		height: 28px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		float: right;
		margin-top: 21.5px;
		margin-left: 0px;
	}

	#menu-rodape { 
		width: 560px; 
		font-weight: bold; 
	}

	#menu-rodape ul { 
		padding:0px; 
		margin:0px; 
		list-style:none; 
	}

	#menu-rodape ul li { 
		display: inline; 
	}

	#menu-rodape ul li a { 
		padding: 0px 6px 0px 0px; 
		display: inline-block; 
		color: #666; 
		text-decoration: none; 
	}

	#copyright{
		margin: 0px;
		padding: 0px;
	}

	#copyright p {
		margin: 0px;
		padding: 0px;
	}

	#footer-midias{
		width: 23%;
		height: 40px;
		position: relative;
		right: 0px;
		float: right;
		margin-top: 15px;
	}

	.foto-footer-logo {
		margin: 0px 0px 0px 41px; 
	}

	.foto-footer-logo img{
		margin: 0px 20px 0px 0px; 
	}

	.foto-footer-midias {
		margin: 0px 0px 0px 0px; 
	}

	.foto-footer-midias img{
		margin: 0px 10px 0px 0px; 
	}

}



@media only screen and (min-width:1280px){

	body{ 
		margin: 0px; 
		font-family: 'Roboto Regular'; 
		font-size: 12px;
		color: #666; 
	}

	#conteudo{
		width: 1440px;
		border: 1px solid #eee;
		margin-left: auto;
		margin-right: auto;
	}

	header{ 
		width: 1440px; 
		height: 477.2px; 
		margin-left: auto; 
		margin-right: auto; 
		background: url(../assets-phone/header.png); 
	}

	.header-menu { 
		width: 1440px;
		height: 82px;
	}

	.header-menu p { 
		font-family: "Roboto Regular"; 
		text-align: left; 
		margin-top: 6px; 
		margin-left: 145px; 
		color: #fff; 
		font-size: 10px; 
	}

	.header-menu h1 { 
		margin-top: 8px; 
		margin-left: 145px; 
		width: 147px; 
		height: 43px; 
		background: url(../assets-monitor/logo-chamada.png); 
	}

	#logo { 
		width: 50%; 
		float: left; 
	}

	#menu { 
		width: 50%; 
		line-height: 20px; 
		float: right; 
		margin-top: 38px; 
	}

	#menu ul { 
		padding:0px; 
		margin:0px; 
		list-style:none; 
	}

	#menu ul li { 
		display: inline; 
	}

	#menu ul li a { 
		padding: 2px 10px; 
		display: inline-block; 
		color: #fff; 
		text-decoration: none; 
	}

	.btn-menu { 
		margin-left: 144px; 
		margin-top: 71px; 
		color: #fff; 
		width: 50%; 
	}

	.btn-menu p { font-size: 24px; 
		width: 410px; 
		height: 111.1px; 
	}

	.btn-menu h1 { 
		font-family: "Roboto Light"; 
		font-size: 18px; 
		font-weight: normal; 
	}

	.bt-email a{
		display:inline-block;
		margin:0px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#cd2f27;
		position: relative;
		float: left;
		padding: 8px 20px 7px 54px;
		font-weight: bold;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-moz-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-ms-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-o-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
			
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-email img{
		position:absolute;
		left:13px;
		top:1px;
	}

	.bt-email a:hover,
	.bt-email a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	.bt-facebook a{
		display:inline-block;
		margin:0px 0px 0px 10px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#3b5998;
		position: relative;
		float: left;
		font-weight: bold;
		padding: 8px 20px 7px 54px;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-moz-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-ms-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		-o-box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
		box-shadow:0px 1px #203767, 0px 2px #203767, 0px 3px #203767;
			
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-facebook img{
		position:absolute;
		left: 13px;
		top: 1px;
	}

	.bt-facebook a:hover,
	.bt-facebook a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	#como-funciona{
		width: 1440px;
		height: 450px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 43px;
	}

	#cf-titulo{
		width: 485px;
		height: 42px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		font-family: "Roboto Light";
	   	color: #00598c;
	   	font-size: 24px;
	   	text-align: center;
	   	font-weight: normal;
	}

	.coluna-a{
		width: 370px;
		height: 364px;
		float: left;
		margin-right: 20px;
		position: relative;
		border: 1px #eeeeee solid;
		margin-left: 145px;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-b{
		width: 370px;
		height: 364px;
		float: left;
		margin-right: 20px;
		position: relative;
		border: 1px #eeeeee solid;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-c{
		width: 370px;
		height: 364px;
		float: left;
		margin-right: 20px;
		position: relative;
		border: 1px #eeeeee solid;

		font-family: "Roboto Light";
		font-size: 14px;
		line-height: 18px;
		color: #666666;

		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;

		-webkit-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-moz-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-ms-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		-o-box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
		box-shadow:0px 1px #eee, 0px 2px #eee, 0px 3px #f8f8f8;
	}

	.coluna-a h2, .coluna-b h2, .coluna-c h2 { 
		font-family: "Roboto Regular";
		color: #00598c;
		font-size: 18px;
		text-align: center;
		font-weight: normal;
	}

	.coluna-a p, .coluna-b p, .coluna-c p {
		padding: 0px 19px 15px 21px;
	}

	.projetos{
		width: 1440px;
		height: 415px;
		margin-left: auto;
		margin-right: auto;
		background: #efefef;
		margin-bottom: 115px;
	}

	#p-titulo{
		width: 485px;
		height: 42px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		font-family: "Roboto Light";
	   	color: #666;
	   	font-size: 24px;
	   	text-align: center;
	   	line-height: 10px;
	}

	.foto-projetos {
		margin: 0px 0px 0px 145px; 
	}

	.foto-projetos img{
		margin: 20.4px 17px 0px 0px; 
	}

	#loremipsum{
		width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}

	.lorem-ipsum{
		width: 645px;
		margin-right: auto;
		margin-left: auto;
	}

	#li-esquerda{
		width: 312px;
		position: relative;
		float: left;
		display: table;
		margin-bottom: 83px;
	}

	#li-direita{
		width: 312px;
		position: relative;
		float: right;
		margin-left: 21px;
	}

	.foto-coluna1{
		margin-left: 78px;
		margin-bottom: 107px;
	}

	#li-esquerda h1{
		font: 24px "Roboto Light";
		color: #666;
		text-align: right;
	}

	#li-esquerda p{
		font: 18px "Roboto Light";
		color: #666;
		text-align: right;
		width: 312px;
	}

	#li-esquerda h2{
		font: 18px "Roboto Regular";
		color: #3388aa;
		text-align: right;
	}

	#li-direita h1{
		font: 24px "Roboto Light";
		color: #666;
		text-align: left;
	}

	#li-direita p{
		font: 18px "Roboto Light";
		color: #666;
		text-align: left;
		width: 312px;
	}

	#li-direita h2{
		font: 18px "Roboto Regular";
		color: #3388aa;
		text-align: left;
	}

	.foto-coluna2{
		margin-top: 107.1px;
		margin-left: 97px;
	}

	.interesse{
		clear: both;
		width: 1440px;
		height: 270px;
		margin-left: auto;
		margin-right: auto;
		background: #004466;
	}

	#seta{
		width: 31px;
		margin-left:auto;
		margin-right: auto;
	}

	#seta img{
		margin-top: -1px;
	}

	.formulario{
		display: none;
	}

	.interesse h1{
		font: 24px "Roboto Light";
		color: #fff;
		text-align: center;
		padding-top: 20px;
	}

	.interesse h2{
		font: 18px "Roboto Light";
		color: #fff;
		text-align: center;
	}

	.bt-interesse{
		width: 300px;
		height: 40px;
		margin-top: 21px;
		margin-left: auto;
		margin-right: auto;
	}

	.bt-interesse a{
		display:inline-block;
		width: 300px;
		height: 40px;
		font-size:18px;
		position:relative;
		text-align:center;
		color:#FFFFFF;
		text-decoration:none;
		background:#cd2f27;
		position: relative;
		line-height: 40px;
		font-weight: bold;
			
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
			
		-webkit-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-moz-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-ms-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		-o-box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		box-shadow:0px 1px #a40216, 0px 2px #a40216, 0px 3px #a40216;
		
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;	
	}

	.bt-interesse i{
		position:absolute;
		left:15px;
		top:15px;
	}

	.bt-interesse a:hover,
	.bt-interesse a:active{
		box-shadow: none;
	  	top: 1px;
	  	left: 0px;
	}

	.footer{
		width: 1440px;
		height: 67px;
		margin-left: auto;
		margin-right: auto;
		background: #fff;
		border: 1px solid #eee;
	}

	#footer-logo{
		width: 440px;
		height: 28px;
		position: relative;
		left: 0px;
		float: left;
		margin-top: 21.5px;
	}

	#footer-menu{
		width: 560px;
		height: 28px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		float: right;
		margin-top: 21.5px;
	}

	#menu-rodape { 
		width: 560px; 
		font-weight: bold; 
	}

	#menu-rodape ul { 
		padding:0px; 
		margin:0px; 
		list-style:none; 
	}

	#menu-rodape ul li { 
		display: inline; 
	}

	#menu-rodape ul li a { 
		padding: 0px 6px 0px 0px; 
		display: inline-block; 
		color: #666; 
		text-decoration: none; 
	}

	#copyright{
		margin: 0px;
		padding: 0px;
	}

	#copyright p {
		margin: 0px;
		padding: 0px;
	}

	#footer-midias{
		width: 440px;
		height: 40px;
		position: relative;
		right: 0px;
		float: right;
		margin-top: 15px;
	}

	.foto-footer-logo {
		margin: 0px 0px 0px 149px; 
	}

	.foto-footer-logo img{
		margin: 0px 20px 0px 0px; 
	}

	.foto-footer-midias {
		margin: 0px 0px 0px 105px; 
	}

	.foto-footer-midias img{
		margin: 0px 10px 0px 0px; 
	}

}