.btn {
	display: inline-block;
	border-radius: 3px;
	padding: 10px 20px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
	text-align: center;
	@include bg-color($red);
	color: #fff;
	cursor: pointer;
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}

.btn-social {
	@extend .btn;
	color: #fff;
	font-weight: 500;

	&:before {
		content: "";
		display: inline-block;
		width: 22px;
		height: 20px;
		vertical-align: middle;
		margin-right: 8px;
	}

	&.fb {
		@include bg-color(#3b5998);

		&:before {
			@include icon("../material/fonts/glifos/facebook-box.svg");
		}
	}

	&.email {
		&:before {
			@include icon("../material/fonts/glifos/letter.svg");
		}
	}
}