// Fonts
$regular:           'Roboto', 'Arial', sans-serif;

// Color
$error:             #f62929;

$white-light:       #f6f6f6;
$blue:              #00598c;
$blue-soft:         #44b1d7;
$blue-grey:         #72a0bb;
$red:               #cd2f27;
$blue-condensed:    #3b5998;
$transparent:       rgba(215, 215, 215, 0);
$white:             #fff;
$grey-light:        #eee;
$grey:              #666;
$blue-white:        #9bcbde;
$blue-black:        #004466;
$blue-light:        #3388aa;
$grey-soft:         #d8d8d8;
$grey-classic:      #ccc;