h1, h2, h3, h4, h5, h6, p, span {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

*, *:before, *:after {
  box-sizing: border-box; }

*, html, body {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-family: "Roboto", sans-serif; }

html, body {
  height: 100%;
  position: relative; }

a {
  text-decoration: none; }

strong {
  font-weight: bold; }

.main {
  min-height: 100%;
  position: relative; }

.container {
  width: 100%; }

.v-align, .home header .logo, .home header .anchors {
  display: table-cell;
  vertical-align: middle; }

.btn, .btn-social, .contato .form .saiba-mais, .contato .tenho-interesse {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
  text-align: center;
  background-color: #cd2f27;
  color: #fff;
  cursor: pointer;
  transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out; }
  .btn:hover, .btn-social:hover, .contato .form .saiba-mais:hover, .contato .tenho-interesse:hover {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #a2251f; }
  .btn:active, .btn-social:active, .contato .form .saiba-mais:active, .contato .tenho-interesse:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); }

.btn-social {
  color: #fff;
  font-weight: 500; }
  .btn-social:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px; }
  .btn-social.fb {
    background-color: #3b5998; }
    .btn-social.fb:hover {
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      background-color: #2d4373; }
    .btn-social.fb:active {
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); }
    .btn-social.fb:before {
      background-image: url("../material/fonts/glifos/facebook-box.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
  .btn-social.email:before {
    background-image: url("../material/fonts/glifos/letter.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

.home {
  position: relative; }
  .home:before, .home:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .home:before {
    background-image: url("../images/bitmap.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1; }
  .home:after {
    background-color: #44b1d7;
    z-index: 2;
    opacity: .5; }
  .home header {
    background-color: white;
    position: relative;
    z-index: 3; }
    .home header span {
      display: block;
      padding-top: 6px;
      color: #aaa;
      font-size: 10px;
      text-align: center; }
    .home header .logo {
      width: 1%;
      text-align: center;
      padding: 18px 0; }
      .home header .logo i {
        display: inline-block;
        width: 120px;
        height: 24px;
        background-image: url("../images/logo-chamada-mobile.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
    .home header .anchors {
      display: none;
      text-align: right; }
      .home header .anchors ul {
        list-style: none;
        display: inline-block; }
        .home header .anchors ul li {
          display: inline-block;
          margin: 0 8px; }
          .home header .anchors ul li:last-of-type {
            margin-right: 0; }
  .home article {
    position: relative;
    z-index: 3;
    padding: 28px 0; }
    .home article p {
      text-align: center;
      color: #fff;
      font-weight: 500; }
    .home article .social-media {
      margin-top: 150px; }
      .home article .social-media span {
        display: block;
        color: #fff;
        font-weight: 300;
        margin-bottom: 10px; }
      .home article .social-media .btn-social {
        width: calc(50% - 7.5px); }
        .home article .social-media .btn-social.fb {
          margin-right: 10px; }

.como-funciona {
  padding-bottom: 15px;
  overflow: hidden; }
  .como-funciona .inner-content {
    overflow-x: auto;
    position: relative;
    bottom: -35px; }
  .como-funciona h1 {
    position: relative;
    top: 35px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #00598c; }
  .como-funciona .steps {
    margin-top: 25px;
    margin-bottom: 15px; }
    .como-funciona .steps:after {
      content: "";
      clear: both;
      display: table; }
    .como-funciona .steps .step {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      padding: 15px;
      width: 270px;
      float: left;
      margin-right: 10px; }
      .como-funciona .steps .step:first-of-type {
        margin-left: 10px; }
      .como-funciona .steps .step h1 {
        position: static;
        font-size: 18px;
        font-weight: 400; }
      .como-funciona .steps .step .img {
        margin: 18px; }
        .como-funciona .steps .step .img img {
          width: 100%; }
      .como-funciona .steps .step p {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        color: #666666; }

.projetos {
  padding: 38px 0;
  position: relative;
  background-color: #eee; }
  .projetos:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -8px;
    border-top: solid 16px #fff;
    border-left: solid 16px transparent;
    border-right: solid 16px transparent; }
  .projetos h1 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #666666; }
  .projetos .images {
    margin-top: 20px; }
    .projetos .images:after {
      content: "";
      clear: both;
      display: table; }
    .projetos .images .image {
      width: 100%;
      margin-top: 20px;
      display: inline-block;
      float: left;
      padding: 0 10px; }
      .projetos .images .image img {
        width: 100%; }

.para-quem {
  padding: 45px 0 36px 0;
  position: relative; }
  .para-quem:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -8px;
    border-top: solid 16px #eee;
    border-left: solid 16px transparent;
    border-right: solid 16px transparent; }
  .para-quem .decoracao, .para-quem .profissional {
    text-align: center; }
    .para-quem .decoracao:after, .para-quem .profissional:after {
      content: "";
      clear: both;
      display: table; }
    .para-quem .decoracao .centralizar, .para-quem .profissional .centralizar {
      display: inline-block;
      text-align: left; }
    .para-quem .decoracao .img, .para-quem .profissional .img {
      width: 60px;
      float: left; }
      .para-quem .decoracao .img img, .para-quem .profissional .img img {
        width: 100%; }
    .para-quem .decoracao .content, .para-quem .profissional .content {
      float: left;
      margin-left: 12px;
      width: calc(100% - 72px); }
      .para-quem .decoracao .content h1, .para-quem .decoracao .content p, .para-quem .profissional .content h1, .para-quem .profissional .content p {
        font-weight: 300;
        color: #666666; }
      .para-quem .decoracao .content h1, .para-quem .profissional .content h1 {
        font-size: 18px; }
      .para-quem .decoracao .content p, .para-quem .profissional .content p {
        font-size: 14px;
        margin: 10px 0; }
      .para-quem .decoracao .content .link, .para-quem .profissional .content .link {
        color: #3388aa;
        font-size: 14px;
        display: inline-block;
        transition: margin-left .15s ease-in-out;
        -webkit-transition: margin-left .15s ease-in-out; }
        .para-quem .decoracao .content .link:hover, .para-quem .profissional .content .link:hover {
          color: #cd2f27;
          position: relative;
          margin-left: 5px; }
          .para-quem .decoracao .content .link:hover:after, .para-quem .profissional .content .link:hover:after {
            background-image: url("../material/fonts/glifos/arrow-right-hover.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat; }
        .para-quem .decoracao .content .link:after, .para-quem .profissional .content .link:after {
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          background-image: url("../material/fonts/glifos/arrow-right.svg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          margin-left: 5px;
          vertical-align: middle; }
  .para-quem .profissional {
    margin-top: 37px; }

.contato {
  padding: 49px 0 31px 0;
  background-color: #004466;
  position: relative; }
  .contato:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -8px;
    border-top: solid 16px #ffffff;
    border-left: solid 16px transparent;
    border-right: solid 16px transparent; }
  .contato h1, .contato p {
    font-weight: 300;
    color: #fff;
    text-align: center; }
  .contato h1 {
    font-size: 18px; }
  .contato p {
    margin-top: 5px; }
  .contato .form {
    margin-top: 14px; }
    .contato .form label {
      display: block; }
      .contato .form label span {
        font-size: 14px;
        color: #fff; }
      .contato .form label .input {
        margin-top: 3px; }
        .contato .form label .input input {
          width: 100%;
          height: 40px;
          padding: 0 10px; }
        .contato .form label .input ::-webkit-input-placeholder {
          color: #aaa;
          font-style: italic; }
        .contato .form label .input :-moz-placeholder {
          /* Firefox 18- */
          color: #aaa;
          font-style: italic; }
        .contato .form label .input ::-moz-placeholder {
          /* Firefox 19+ */
          color: #aaa;
          font-style: italic; }
        .contato .form label .input :-ms-input-placeholder {
          color: #aaa;
          font-style: italic; }
      .contato .form label:nth-of-type(n+2) {
        margin-top: 10px; }
    .contato .form .saiba-mais {
      width: 100%;
      margin-top: 31px;
      font-size: 18px;
      height: 40px; }
  .contato .tenho-interesse {
    width: 300px;
    margin: 31px auto 0 auto;
    font-size: 18px;
    height: 40px;
    display: none; }
  .contato .agradecimento {
    display: none;
    margin-top: 22px;
    font-size: 18px;
    color: #9bcbde;
    font-weight: 400; }

footer {
  padding: 20px 0;
  background-color: #eee; }
  footer .social {
    text-align: center; }
    footer .social .fb {
      background-image: url("../images/shape.svg");
      background-position: center;
      background-size: 20px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ccc; }
      footer .social .fb:nth-of-type(n+2) {
        margin-left: 10px; }
  footer .menu {
    margin-top: 20px; }
    footer .menu ul {
      list-style: none; }
      footer .menu ul li {
        display: inline-block; }
        footer .menu ul li a {
          font-size: 12px;
          color: #666666;
          display: inline-block;
          margin-right: 10px;
          font-weight: 500; }
    footer .menu p {
      font-size: 12px;
      color: #666666;
      margin-top: 5px; }
  footer .partners {
    margin-top: 20px;
    text-align: center; }
    footer .partners .partner {
      display: inline-block;
      width: 56px;
      height: 27px;
      background-image: url("../images/logo-chamada-colorido.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
      footer .partners .partner:nth-of-type(n+2) {
        margin-left: 10px; }

@media (min-width: 320px) {
  html .container, body .container {
    padding: 0 10px; } }
@media (min-width: 768px) {
  html .container, body .container {
    padding: 0 20px; }
  html .home span, body .home span {
    color: #fff;
    text-align: left; }
  html .home header, body .home header {
    background-color: transparent; }
    html .home header .logo, body .home header .logo {
      padding: 8px 0 0 0; }
      html .home header .logo i, body .home header .logo i {
        background-image: url("../images/logo-chamada.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 147px;
        height: 43px; }
    html .home header .anchors, body .home header .anchors {
      display: table-cell; }
      html .home header .anchors ul li a, body .home header .anchors ul li a {
        color: #fff;
        font-size: 12px; }
  html .home article, body .home article {
    padding-top: 80px;
    padding-bottom: 60px; }
    html .home article p, body .home article p {
      text-align: left;
      max-width: 300px;
      font-weight: 300;
      font-size: 24px; }
    html .home article .social-media, body .home article .social-media {
      margin-top: 40px; }
      html .home article .social-media .btn-social, body .home article .social-media .btn-social {
        width: auto; }
        html .home article .social-media .btn-social.email, body .home article .social-media .btn-social.email {
          float: left;
          margin-right: 10px; }
  html .como-funciona h1, body .como-funciona h1 {
    font-size: 24px; }
  html .como-funciona .steps, body .como-funciona .steps {
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto; }
    html .como-funciona .steps .step, body .como-funciona .steps .step {
      width: 240px;
      margin-right: 20px; }
      html .como-funciona .steps .step:first-of-type, body .como-funciona .steps .step:first-of-type {
        margin-left: 20px; }
  html .projetos .images .image, body .projetos .images .image {
    padding: 0;
    width: calc(25% - 29px);
    margin-right: 0; }
    html .projetos .images .image:nth-of-type(n+2), body .projetos .images .image:nth-of-type(n+2) {
      margin-left: 29px; }
  html .para-quem, body .para-quem {
    padding: 55px 0 47px 0; }
    html .para-quem .decoracao .content h1, html .para-quem .profissional .content h1, body .para-quem .decoracao .content h1, body .para-quem .profissional .content h1 {
      font-size: 24px; }
    html .para-quem .decoracao .content p, html .para-quem .decoracao .content .link, html .para-quem .profissional .content p, html .para-quem .profissional .content .link, body .para-quem .decoracao .content p, body .para-quem .decoracao .content .link, body .para-quem .profissional .content p, body .para-quem .profissional .content .link {
      font-size: 18px;
      margin-top: 20px; }
    html .para-quem .decoracao .content .link:after, html .para-quem .profissional .content .link:after, body .para-quem .decoracao .content .link:after, body .para-quem .profissional .content .link:after {
      width: 18px;
      height: 18px; }
    html .para-quem .decoracao .img, body .para-quem .decoracao .img {
      width: 138px; }
    html .para-quem .decoracao .content, body .para-quem .decoracao .content {
      margin-left: 118px;
      width: 312px; }
    html .para-quem .profissional .img, body .para-quem .profissional .img {
      float: right;
      width: 210px; }
    html .para-quem .profissional .content, body .para-quem .profissional .content {
      margin-left: 0;
      margin-right: 118px;
      width: 312px;
      text-align: right; }
  html .contato h1, body .contato h1 {
    font-size: 24px; }
  html .contato p, body .contato p {
    font-size: 18px; }
  html .contato .form, body .contato .form {
    display: none; }
  html .contato .tenho-interesse, body .contato .tenho-interesse {
    display: block; } }
@media (min-width: 1024px) {
  html .container, body .container {
    padding: 0 20px; }
  html .como-funciona .steps, body .como-funciona .steps {
    padding-bottom: 43px; }
    html .como-funciona .steps .step, body .como-funciona .steps .step {
      width: 310px; }
  html .projetos .images .image, body .projetos .images .image {
    width: calc(25% - 21px); }
    html .projetos .images .image:nth-of-type(n+2), body .projetos .images .image:nth-of-type(n+2) {
      margin-left: 21px; }
  html .contato, body .contato {
    padding: 69px 0 78px 0; }
  html footer .container, body footer .container {
    position: relative; }
  html footer .social, html footer .partners, body footer .social, body footer .partners {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%); }
  html footer .social, body footer .social {
    right: 144px; }
  html footer .partners, body footer .partners {
    margin: 0;
    left: 144px; }
  html footer .menu, body footer .menu {
    margin: 0 auto;
    width: 500px; } }
@media (min-width: 1280px) {
  html .container, body .container {
    padding: 0 144px; }
  html .home article, body .home article {
    padding-top: 60px;
    padding-bottom: 140px; }
    html .home article .social-media, body .home article .social-media {
      margin-top: 20px; }
  html .como-funciona .steps, body .como-funciona .steps {
    padding-bottom: 53px; }
    html .como-funciona .steps .step, body .como-funciona .steps .step {
      width: 370px; }
  html .projetos .images .image, body .projetos .images .image {
    width: calc(25% - 17px); }
    html .projetos .images .image:nth-of-type(n+2), body .projetos .images .image:nth-of-type(n+2) {
      margin-left: 17px; } }
@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none; } }
