radius(r)
	-webkit-border-radius: r
	-moz-border-radius: r
	border-radius: r

arrow(left, right, top, color)
	content: ''
	display: block
	border-left: left solid transparent
	border-right: right solid transparent
	border-top: top solid color
	position: absolute
