/*
*	Break points
*/

$phone = 320px
$tablet = 768px
$desktop = 1024px
$monitor = 1280px

/*
*	Colors
*/

//Blue
$blue-lagoon = #00598C
$summer-sky = #44B1D7
$prussian-blue = #004466
$scooter = #3388AA
$glacier = #72A0BB
$mariner = #3b5998
$french-pass = #9BCBDE

//white

$white = #fff

//red
$persian-red = #CD2F27

//transparent
$transparent = rgba(215, 215, 215, 0)

//Gray
$dim-gray = #666
$dark-gray = #AAA
$white-smoke = #EEE
$gainsboro = #D8D8D8
$light-gray = #ccc
