.btn
	color: $white
	display: inline-block
	font-weight: bold
	width: 145px
	height: 38px
	padding: 10px
	text-align: center
	text-decoration: none
	position: relative
	radius(3px)

	&.facebook
		background: $mariner
		box-shadow: 0 2px #203767

		&:before
			content: "\f10d"
			font-family: "Viva icons"
			position: absolute
			left: 20px

	&.mail
		background: $persian-red
		box-shadow:	0 2px #a40216

		&:before
			content: "\f113"
			font-family: "Viva icons"
			position: absolute
			left: 20px
