.como-funciona {
	padding-bottom: 15px;
	overflow: hidden;

	.inner-content {
		overflow-x: auto;
		position: relative;
		bottom: -35px;
	}

	h1 {
		position: relative;
		top: 35px;
		font-size: 18px;
		font-weight: 300;
		text-align: center;
		color: $blue;
	}

	.steps {
		@include clearfix;
		margin-top: 25px;
		margin-bottom: 15px;

		.step {
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
			padding: 15px;
			width: 270px;
			float: left;
			margin-right: 10px;

			&:first-of-type {
				margin-left: 10px;
			}

			h1 {
				position: static;
				font-size: 18px;
				font-weight: 400;
			}

			.img {
				margin: 18px;

				img {
					width: 100%;
				}
			}

			p {
				font-size: 14px;
				font-weight: 300;
				line-height: 18px;
				color: $gray;
			}
		}
	}
}