.para-quem {
	padding: 45px 0 36px 0;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -8px;
		border-top: solid 16px #eee;
		border-left: solid 16px transparent;
		border-right: solid 16px transparent;
	}

	.decoracao, .profissional {
		@include clearfix;
		text-align: center;

		.centralizar {
			display: inline-block;
			text-align: left;
		}

		.img {
			width: 60px;
			float: left;

			img {
				width: 100%;
			}
		}

		.content {
			float: left;
			margin-left: 12px;
			width: calc(100% - 72px);

			h1, p {
				font-weight: 300;
				color: $gray;
			}

			h1 {
				font-size: 18px;
			}

			p {
				font-size: 14px;
				margin: 10px 0;
			}

			.link {
				color: $blue-link;
				font-size: 14px;
				display: inline-block;
				transition: margin-left .15s ease-in-out;
				-webkit-transition: margin-left .15s ease-in-out;

				&:hover {
					color: $red;
					position: relative;
					margin-left: 5px;

					&:after {
						@include icon("../material/fonts/glifos/arrow-right-hover.svg");
					}
				}

				&:after {
					content: "";
					display: inline-block;
					width: 12px;
					height: 12px;
					@include icon("../material/fonts/glifos/arrow-right.svg");
					margin-left: 5px;
					vertical-align: middle;
				}
			}
		}
	}

	.profissional {
		margin-top: 37px;
	}
}