.projetos {
	padding: 38px 0;
	position: relative;
	background-color: #eee;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -8px;
		border-top: solid 16px #fff;
		border-left: solid 16px transparent;
		border-right: solid 16px transparent;
	}

	h1 {
		font-size: 24px;
		font-weight: 300;
		text-align: center;
		color: $gray;
	}

	.images {
		margin-top: 20px;
		@include clearfix;

		.image {
			width: 100%;
			margin-top: 20px;
			display: inline-block;
			float: left;
			padding: 0 10px;

			img {
				width: 100%;
			}
		}
	}
}