<section class="masthead">
    <div class="container">
        <main>
            <h1 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
            
            <div class="action">
                <p class="to"><span class="desc">Crie sua conta:</span><br><button tabindex="7" class="btn-fb">Facebook</button><button tabindex="6" class="btn-email">Email</button></p>
            </div>
        </main>
    </div>
</section>


<div class="howto">
    <div class="container">
        
        <h2 class="title">Como funciona</h2>

        
        <ul class="list">
            <li class="item">
                <a tabindex="8" href="#" class="link">
                    <h3 class="item-title">01 Lorem ipsum dolor sit amet</h3>
                    <img src="{{config.urls.site}}imgs/step-01.png" alt="" width="210" height="134" class="picture">
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </a>
            </li>       
        </ul>
    </div>
</div>


<div class="highlights">
    <h2 class="title">Projetos destacados</h2>

    <ul class="list">
        <li class="item"><a tabindex="11" href="#" class="link"><img src="{{config.urls.site}}imgs/bitmap.png" alt="" class="image"></a></li>
        <li class="item"><a tabindex="12" href="#" class="link"><img src="{{config.urls.site}}imgs/bitmap.png" alt="" class="image"></a></li>
        <li class="item"><a tabindex="13" href="#" class="link"><img src="{{config.urls.site}}imgs/bitmap.png" alt="" class="image"></a></li>
        <li class="item"><a tabindex="14" href="#" class="link"><img src="{{config.urls.site}}imgs/bitmap.png" alt="" class="image"></a></li>            
    </ul>
</div>

<section class="signup">
    <article class="signup-common">
        <h2 class="title">Para quem gosta de decoração </h2>
        <p class="desc">Com o Styler projete sua casa de forma fácil e rápida em 3D.</p>
        <p class="desc"> Inspirese e compartilhe novas ideias de decoração  .</p>
        <p class="desc">Peça dicas e opiniões para amigos e profisionais.</p>
        <p class="desc"><a tabindex="15" href="#" class="link">Criar conta</a></p>
    </article>

    <article class="signup-professional">
        <h2 class="title">Para os arquitetos e Designers</h2>
        <p class="desc">Divulgue seus projetos e ganhe mais clientes.</p>
        <p class="desc"> Faça projetos rápidos e de alta qualidade para seus clientes.</p>
        <p class="desc">Modifique seus projetos online a qualquer hora, em qualquer lugar.</p>
        <p class="desc"><a tabindex="16" href="#" class="link">Criar conta de profissional</a></p>
    </article>
</section>


<div class="contact">
    <h2 class="title">Quis nostrud exercitation ullamco laboris</h2>
    <p class="desc">Consectetur adipiscing elit, sed do eiusmod tempor</p>

    <button tabindex="17" class="btn-interest e-interest">Tenho interesse</button>

    <form class="form ui-form">
        <fieldset class="fieldset">
            <label class="label">*Nome do contato</label>
            <input tabindex="18" type="text" name="name" class="input-text name required" maxlength="200">   
        
            <label class="label">*Email</label>
            <input tabindex="19" type="text" name="email" class="input-text email required" maxlength="200">
        
            <label class="label">*Nome da empresa</label>
            <input tabindex="20" type="text" name="company" class="input-text company required" maxlength="200">
        
            <input tabindex="21" type="submit" name="send" class="btn-submit" value="Saiba mais">

            <p class="error-message">* Campos de preenchimento obrigatório.</p>
        </fieldset>
    </form>

    <p class="message-success">Obrigado! Seus dados foram enviados.<br>Em breve entraremos em contato.</p>
</div>