<header class="topbar">
    
    <h2 class="subtitle">Excepteur sint occaecat cupidatat non proident</h2>
    
    <h1 class="main-logo">
        <a tabindex="1" hel="home" href="{{config.urls.site}}" title="VivaDecora. Crie a casa do seus sonhos!" class="title-link">VivaDecora</a>
    </h1>


    <nav class="navigation">
        <ul class="list" role="navigation">
            <li class="item"><a tabindex="2" href="#como-funciona" class="link" title="Como funciona">Como funciona</a></li>
            <li class="item"><a tabindex="3" href="#decoracao" class="link" title="Para quem gosta da decoração">Para quem gosta da decoração</a></li>
            <li class="item"><a tabindex="4" href="#profissional" class="link" title="Para profissionais">Para profissionais</a></li>
            <li class="item"><a tabindex="5" href="#lojas" class="link" title="Para lojas e incorporadoras">Para lojas e incorporadoras</a></li>
        </ul>
    </nav>
</header>


<div id="content">
    {{{content_for_layout}}}
</div>


<footer class="foot">
    <ul class="list-socials">
        <li class="item-socials"><a class="link-socials" tabindex="24" href="https://www.facebook.com/vivadecora" target="_blank" class="link" title="Facebook Viva Decora"><span>Facebook</span></a></li>
        <li class="item-socials"><a class="link-socials" tabindex="25" href="https://plus.google.com/+VivadecoraBrasil/" target="_blank" class="link" title="Google+ Viva Decora"><span>Google +</span></a></li>
        <li class="item-socials"><a class="link-socials" tabindex="26" href="https://instagram.com/vivadecora" target="_blank" class="link" title="Instagram Viva Decora"><span>Instagram</span></a></li>
        <li class="item-socials"><a class="link-socials" tabindex="27" href="https://www.pinterest.com/vivadecorabr/" target="_blank" class="link" title="Pinterest Viva Decora"><span>Pinterest</span></a></li>
    </ul>

    <nav class="site-map">
        <ul class="list">
            <li class="item"><a tabindex="28" href="http://www.vivadecora.com.br/revista/" target="_blank" class="link" title="Revista Viva Decora">Revista</a></li>    
            <li class="item"><a tabindex="29" href="http://www.vivadecora.com.br/sobre-nos/" target="_blank" class="link" title="Sobre o Viva Decora">Sobre nós</a></li>  
            <li class="item"><a tabindex="30" href="http://www.vivadecora.com.br/entre-em-contato/" target="_blank" class="link" title="Entre em contato Viva Decora">Entre em contato</a></li>   
            <li class="item"><a tabindex="31" href="http://www.vivadecora.com.br/politica-de-privacidade/" target="_blank" class="link" title="Política de privacidade Viva Decora">Política de privacidade</a></li>    
            <li class="item"><a tabindex="32" href="http://www.vivadecora.com.br/termos-de-uso/" target="_blank" class="link" title="Termos de uso Viva Decora">Termos de uso</a></li>  
        </ul>

        <p class="legal-text">&copy; 2015 Grupo VivaReal - VivaDecora&reg;</p>
    </nav>

    <ul class="list-businesses">
        <li class="item-businesses"><a class="link-businesses" tabindex="22" href="http://www.abd.org.br/" title="Abd" target="_blank"><img src="{{config.urls.site}}imgs/abd.png" alt="Abd" width="44" height="30"></a></li>
        <li class="item-businesses"><a class="link-businesses" tabindex="23" href="http://www.adesp.arq.br/" title="Adesp" target="_blank"><img src="{{config.urls.site}}imgs/adesp.png" alt="Adesp" width="56" height="30"></a></li>
    </ul>
</footer>