*, *:before, *:after {
  box-sizing: border-box;
}

*, html, body {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-family: $font;
}

html, body {
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}