.masthead{
    width: 100%;
    height: 317px;
    background-color: $blue-soft;
    position: relative;
    overflow: hidden;

    .title{
        color: $white;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        padding-left: 4%;
        padding-right: 4%;
    }

    .action{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .to{
        font-weight: 300;
        font-size: 1.4rem;
        color: $white;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    %btn{
        @include border-radius(6px);
        display: inline-block;
        color: $white;
        width: 145px;
        height: 37px;
        text-align: center;
        font-size: 1.8rem;
        text-decoration: none;
        line-height: 3.5rem;
        margin: 5px; 
    }

    .desc{
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn-fb{
        @extend %btn;
        background-color: $blue-fb;
    }
    .btn-email{
        @extend %btn;
        background-color: $red;
    }
    
}
