.signup{
    width: 100vw;
    min-width: $mobile;
    
    height: 550px;
    overflow: hidden;
    position: relative;

    &::before{
        content: "";
        top: -2px;
        left: 45%;
        border-left: solid 16px transparent;
        border-right: solid 16px transparent;
        border-top: solid 16px $grey-light;
        position: absolute;
    }

    %sign {
        @include box-sizing(border-box);
        margin: 40px 6% 0;
        padding-left: 72px;
    }

    .signup-common{
        @extend %sign;
        background: transparent image-url('modules/signup/demo-01.svg') 0 0 no-repeat;
        background-size: 60px 94px;
    }
    .signup-professional{
        @extend %sign;
        background: transparent image-url('modules/signup/demo-02.svg') 0 0 no-repeat;
        background-size: 60px 51px;
    }

    .title{
        color: $grey;
        font-weight: 300;
        font-size: 1.8rem;
    }
    .desc{
        color: $grey;
        font-weight: 300;
        font-size: 1.4rem;   
    }
    .link{
        color: $blue-light;
        font-weight: 400;
        font-size: 1.4rem;
        text-decoration: none;
        &::after{
            @include insert-icon(icon-arrow-right);
        }
    }
}

@media(min-width: $tablet) and (max-width: 989px){
    .signup{
        height: 680px;
        %sign-tablet {
            margin: 40px 10% 0;
        }

        .signup-common{
            @extend %sign-tablet;
            background-size: 138px 215px;
            padding-left: 285px;
        }
        .signup-professional{
            @extend %sign-tablet;
            background-size: 210px 180px;
            background-position: right 0;
            padding-left: 0;
            padding-right: 330px;
            text-align: right;
        }
        .title{
            font-size: 2.4rem;
        }
        .desc{
            font-size: 1.8rem;
        }
        .link{
            font-size: 1.8rem;
        }
    }
}