.topbar {
    width: 100vw;
    min-width: $mobile;

    height: 70px;
    background-color: $white;
    overflow: hidden;
    position: relative;

    .subtitle{
        color: $grey-thin;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        margin: 6px 4% 12px;
    }

    .main-logo{
        height: 24px;
        text-align: center;
        margin: 0 4%;
    }
    .title-link{
        width: 119px;
        height: 100%;
        display: inline-block;
        background: transparent image-url('modules/topbar/vivadecora.png') 0 0 no-repeat;
        text-indent: -99999px;
    }

    .navigation{
        display: none;
        position: absolute;
        width: 550px;
        height: 60px;
        top: 30px;
        right: 0;
    }
    .list{
        padding-left: 0;
    }
    .item{
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }
    .link{
        color: $white;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2.0rem;
        text-decoration: none;
    }
}

@include tablet {
    .topbar{
        height: 80px;
        background-color: transparent;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        .subtitle{
            color: $white;
            text-align: initial;
        }
        .main-logo{
            text-align: initial;
        }
        .title-link{
            width: 147px;
            height: 43px;
            background: transparent image-url('modules/topbar/vivadecora.svg') 0 0 no-repeat;
        }
        .navigation{
            display: block;
        }
    }    
}

@include desktop{
    .topbar{
        height: 80px;
        background-color: transparent;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        .subtitle{
            color: $white;
            text-align: initial;
        }
        .main-logo{
            text-align: initial;
        }
        .title-link{
            width: 147px;
            height: 43px;
            background: transparent image-url('modules/topbar/vivadecora.svg') 0 0 no-repeat;
        }
        .navigation{
            display: block;
            right: 20px;
        }
    }   
}

@include wide{
    .topbar{
        width: 1160px;
        height: 80px;
        background-color: transparent;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;

        

        .subtitle{
            color: $white;
            text-align: initial;
        }
        .main-logo{
            text-align: initial;
        }
        .title-link{
            width: 147px;
            height: 43px;
            background: transparent image-url('modules/topbar/vivadecora.svg') 0 0 no-repeat;
        }
        .navigation{
            display: block;
            right: 20px;
        }
    }   
}