.call
  background: url('../img/320/cozinha-vista-janela.png') center 100% no-repeat
  color: $white
  font-size: 14px
  padding: 10px
  width: 100%
  height: 320px
  position: relative
  padding: 0

  &:before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 95.5%
    background: $summer-sky
    opacity: 0.5
    top: 0

  &:after
    arrow(11px, 11px, 12px, $summer-sky)
    bottom: 2px
    left: 47.5%
    opacity: 0.5

.call-item
  position: relative
  z-index: 1

.caller
  display: block
  height: 110px
  padding: 28px 15px
  line-height: 15px
  text-align: center

.social-box
  text-align: center
  position: absolute
  z-index: 1
  bottom: 30px
  left: 10px

  a
    margin-left: 5px

  p
    text-align: left
    padding-left: 20px

.how-it-works
  height: 410px
  text-align: center
  padding-left: 10px
  position: relative

  &:after
    arrow(11px, 11px, 12px, $white)
    bottom: -28px
    left: 47.5%

  h1
    font-size: 18px
    font-weight: normal
    color: $blue-lagoon

  .slide-item
    width: 270px
    height: 370px
    padding: 0 10px

.featured
  background: $white-smoke
  text-align: center

  &:after
    arrow(11px, 11px, 12px, $white-smoke)
    left: 47.5%

  h1
    color: $dim-gray
    font-size: 24px
    font-weight: normal
    padding-top: 30px

  img
    width: 275px
    margin-bottom: 15px

.is-to
  padding-top: 20px

  h1
    font-size: 18px

  p
    font-size: 14px

  img
    display: table-cell
    vertical-align: top
    padding: 10px

.is-to-content
  display: inline-block
  width: 70%

  h1, p
    color: $dim-gray
    font-weight: normal

  &:after
    arrow(11px, 11px, 12px, $white)
    left: 47.5%
